.bulletList {
  margin-top: 0px;
  margin-left: -20px;
}

.bullet {
  font-size: 14px;
  color: #6f6f6f;
}

li {
  margin-top: 2px;
}

.jobCardHover:hover {
  cursor: pointer;
}

.jobCardHover:hover #jobTitle {
  text-decoration: underline;
}
