.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchHeader {
  font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, Liberation Sans,
    Roboto, Noto, sans-serif;
  color: #2d2d2d;
  line-height: 1.75rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.searchOptions {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: auto;
  margin-right: 10px;
  background-color: #e4e2e0;
  border-color: #e4e2e0;
  border-radius: 0.5rem;
}
.option:hover {
  background-color: #d0ccc8;
}
.optionIcon {
  margin-top: 13px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
  font-weight: 400;
  font-size: 0.875rem;
}

.optionType {
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, Liberation Sans,
    Roboto, Noto, sans-serif;
}

.searchStories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.stories {
  font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, Liberation Sans,
    Roboto, Noto, sans-serif;
  font-weight: 400;
  font-size: 0.975rem;
  line-height: 1.5;
  padding: 2.5px;
}

.stories2 {
  font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, Liberation Sans,
    Roboto, Noto, sans-serif;
  font-weight: 400;
  font-size: 0.975rem;
  line-height: 1.5;
  color: #2557a7;
  padding: 2.5px;
}
.stories2:hover {
  text-decoration: underline;
  cursor: pointer;
}
